<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://tse3.mm.bing.net/th/id/OIP.gHnJhHs2zw8tcN-3vJQjyAHaEK?pid=Api&P=0&h=180"
      cardTitle="Novas Coleções de Yu-gi-oh anunciada"
      cardDescription="A konami anunciaram novas coleções para o final de ano"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Conheça as novidades do Yu-gi-oh Duel-Links"
      photoCover="https://tse3.mm.bing.net/th/id/OIP._ss9AIA-gum0LIogAT6pmwHaEK?pid=Api&P=0&h=180"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Veja as Novidades do Yu-gi-oh MasterDuel"
      photoCover="https://tse1.mm.bing.net/th/id/OIP.vW2oodNI2pDCUGifxCBL5QHaEK?pid=Api&P=0&h=180"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Novidades Sobre os Novos Torneios de Yu-gi-oh"
      photoCover="https://tse4.mm.bing.net/th/id/OIP.PYaam3oq3iy8g-Oie7O6lgHaDf?pid=Api&P=0&h=180"
    >
    </app-small-card>
  </div>
</div>
